html,
body {
  height: 100%; /* make the percentage height on 'chart' element work */
}

* {
  margin: 0;
  padding: 0;
}

/*
 * axis labels
 */

div.flot-graph-placeholder {
  margin-bottom: 2em;
}

.consumtion-flow-bars div.xAxis div.tickLabel {
  font-family: Oswald-RegularItalic;
  font-size: 120%;
  color: #7c7c7c;
  transform: rotate(-45deg);
  margin-top: 0.3em;
}

.consumtion-flow-bars div.yAxis div.tickLabel {
  font-family: Oswald-RegularItalic;
  color: #7c7c7c;
}

.consumtion-flow-bars div.tickLabel {
  font-size: 120%;
}

/* .axisLabel {
  position: absolute;
  text-align: center;
  font-size: 12px;
}

.xaxisLabel {
  bottom: 3px;
  left: 0;
  right: 0;
  padding-top: 20px;
}

.yaxisLabel {
  font-size: smaller;
  top: 50%;
  left: 2px;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
} */
